* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    /* background-image: linear-gradient(to right,rgb(244, 233, 233), rgb(175, 175, 179)); */
}
body {
    margin: 0;
    padding: 0;
}
nav {
    background-color: white;
    opacity: 90%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 2px solid black;
    box-shadow: 0px 1px 5px 1px black;
    /* box-shadow: 2px 1px 5px 2px; */
}
/* nav .div1, nav .div2 {
    position: fixed;
} */
nav .div1 {
    display: flex;
    color: black;
    padding: 20px;
}
nav .div1 p {
    background-color: rgb(222, 218, 218);
    padding: 15px;
}
nav .div1 p span {
    background-color: black;
    color: white;
    padding: 15px;
    position: relative;
    right: 15px;
}
nav .div2 {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 30px;
}
nav .div2 a {
    text-decoration: none;
    text-align: center;
    color: black;
}
nav .div2 a:hover {
    text-decoration: underline;
    color: rgb(127, 127, 133);
    transition: all 0.2s ease;
}

.konten {
    background-image: url(Asset/dekorasi.jpeg);
    display: block;
    padding: 95px 0px 150px;
}
.konten h1, .konten p {
    text-align: center;
    color: white;
}
.konten h1 {
    border-top: 2px solid white;
    padding: 40px;
    text-shadow: 5px 2px 1px black;
}
.konten p {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 5px solid white;
    padding: 0px 0px 40px;
    text-shadow: 2px 2px 1px black;
}
.div1, .div2, .div3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.div1 div, .div2 div, .div3 div {
    background-color: white;
    margin: 30px;
    border: 5px solid ;
    border-radius: 30px;
    display: block;
    width: 25%;
}
img {
    margin: 20px;
    width: 250px;
    height: 250px;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 3px;
    text-align: center;
}
img:active{
    width: 270px;
    height: 270px;
}
div h6 {
    margin: 10px;
    padding: 10px;
    background-color: black;
    color: white;
    border: 1px solid;
    border-radius: 20px;
}
.konten .div1, .konten .div2, .konten .div3 {
    text-align: center;
    margin: auto;
}
footer {
    background-color: black;

}
footer .foot2 p {
    color: white;
    text-align: center;
    font-family: "Cabin", serif;
    margin: 0px;
    padding: 10px;
}
footer .foot2 p span {
    font-size: 18px;
    color: white;
    position: relative;
    top: 2px;
}
.foot {
    display: flex;
    justify-content: center;
    padding: 30px 30px 0px;
}
.foot div {
    display: inline-block;
    margin: 0;
    padding: 20px;
}
.foot h5, .foot p, .foot h1, .foot i {
    color: white;
    font-family: "Cabin", serif;
}
.foot .footer1 a {
    position: relative;
    font-size: 25px;
    top: 5px;
    padding: 0px 5px 0px;
}
.foot .footer3 a, .foot .footer3 a i {
    text-decoration: none;
    color: white;
}
.foot .footer3 a:hover {
    text-decoration: underline;
}
.foot form label{
    color: white;
}
.foot form .button {
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    color: black;
    margin: 0;
    padding: 10px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}
.foot form .button:hover {
    background-color: rgb(127, 127, 133);
}
.foot h1 i {
    padding: 0px 5px;
    font-size: 20px;
}
.foot ul li i {
    font-size: 20px;
    position: relative;
    top: 5px;
}
.foot ul li a {
    text-decoration: none;
}
.foot img {
    width: 300px;
    height: 300px;
    position: relative;
    bottom: 50px;
}
.footer1, .footer2, .footer3 {
    width: 350px;
}
@media  screen and (max-width: 900px) {
    nav {
        flex-direction: column;
        display: flex;
    }
    nav div{
        margin:0 auto;
    }
    nav .div2 {
        display: contents;
    }
    nav .div2 a {
        padding: 10px;
    }

    .foot img {
        width: 200px;
        height: 200px;
        position: relative;
        bottom: 0px;
    }
    .footer1, .footer2, .footer3 {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 90%;

    }
    .div1, .div2, .div3 {
        display: block;
    }
    .div1 div, .div2 div, .div3 div {
        background-color: rgb(216, 207, 207);
        margin: 10px auto;
        border: 5px solid ;
        display: block;
        text-align: center;
        width: 80%;
    }
    img {
        margin: 25px;
        width: 200px;
        height: 200px;
        border: 3px solid black;
        border-radius: 15px;
        box-shadow: 1px 1px 15px 6px;
    }
    .konten {
        padding-top: 225px;
    }
    .foot {
        display: flex;
        flex-direction: column;
    }
}